@charset "UTF-8";
@font-face {
  font-family: agrandir;
  src: url("Agrandir-Tight.otf");

  /* font-family: feelsfuzzy;
  src: url("FeeeelsFuzzyTrialRegular.otf"); */
}

@font-face {
  font-family: feelsfuzzy;
  src: url("FeeeelsFuzzyTrialRegular.otf");
}

* {
  margin: 0;
  font-family: agrandir;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-style: normal;
  letter-spacing: 0.1px;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: black;
}

.container {
  text-align: center;
  /* display: flex; */
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: loadIn 0.5s forwards linear 0.4s;
  -webkit-animation: loadIn 0.5s forwards linear 0.4s;
  opacity: 0;
}

h1 {
  font-family: feelsfuzzy, sans-serif;
  text-transform: uppercase;
  font-size: 100px;
}

h1,
button {
  color: white;
}

h2 {
  font-family: agrandir;
  color: white;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  color: white;
  opacity: 0.8;
  font-size: 16px;
  /* font-family: arial; */
}

button {
  font-family: feelsfuzzy;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 80px;
  background-color: #fff500;
  cursor: pointer;
  color: black;
  transition: 0.5s;
}

button:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  opacity: 0.8;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  color: #fff500;
  background-color: black;
  border: 2px solid #fff500;
}

.caption {
  font-size: 14px;
  opacity: 30%;
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
